// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

$v-app-loading-text: "Academia School Management System";

$v-font-family: "Roboto", "Noto", sans-serif;//"Source Sans Pro", sans-serif;
$v-app-background-color: #fff;
$v-background-color: #eee;
$v-focus-color: #0072C6;
$v-focus-style: 0 0 0 1px $v-focus-color;
$valo-menu-background-color: darken($v-focus-color, 10%);
$v-border: 0 solid v-shade;
$v-border-radius: 0px;
$v-bevel: false;
$v-gradient: false;
$v-shadow: false;
$v-textfield-bevel: false;
$v-textfield-shadow: false;
$v-textfield-border: 1px solid v-shade;
$v-link-text-decoration: none;
$v-overlay-shadow: 0 0 0 2px #000;
$v-overlay-border-width: 2px; // For IE8
$v-window-shadow: $v-overlay-shadow;
$v-selection-overlay-background-color: #fff;
$v-selection-overlay-padding-horizontal: 0;
$v-selection-overlay-padding-vertical: 6px;
$v-panel-border: 2px solid v-shade;
//
$v-accordion-item-open: #0B71C8;

@import "../material/material.scss";
@import "../valo/valo.scss";
@import "view/mainview.scss";
@import "view/login.scss";

// Main layout padding
$view-padding: round($v-unit-size / 1.5) !default;

// Slight adjustment to menu background-color
$valo-menu-background-color: #414B56;
  $login-background-image: "img/school4.jpg" !default;	

@mixin mytheme {
    @include material;
  @include valo;
  @include main-view;
  @include school-login-view;

  // Insert your own theme rules here
  
  .header{
  	color : #343434;//#0B71C8;//#FFF;
  	background-color: #FFF;//#0B71C8;//
  	@include animation(valo-animate-in-slide-down 0.7s 0s backwards);
  }
 .logo-color{
 	background-color: #31CDC6;
 }
 
  .setup-view{
  	background-color: #FFF;
  	@include animation(valo-animate-in-slide-left 0.7s 0s backwards);
  }
 .users-view{
  	background-color: #FFF;
  	@include animation(valo-animate-in-slide-up 0.7s 0s backwards);
  }
 .gate-view{
  	background-color: #FFF;
  	@include animation(valo-animate-in-slide-right 0.7s 0s backwards);
  }
 
  .school-title{
 	font-family: "Source Sans Pro", sans-serif;
 	font-weight: bold;
 	font-size: 26px; 
 	color: #343434;
 	text-align: center;
 	padding-left: 30px;
 }
 
 .label-title{
 	font-family: "Source Sans Pro", sans-serif;
 	font-weight: bold;
 	//font-size: 50px; 
 	color: #FFF;
 	//padding-left: 10px;
 }
.view-title{
	font-family: "Source Sans Pro", sans-serif;
 	font-weight: bold;
 	//font-size: 50px; 
 	color: #000;
 	//padding-left: 10px;
}

.login-cover{
		background-image: url(#{$login-background-image});
	}
        
.material{
 	//background-color: #FFFFFF;
   //background-image: none;
   //-moz-box-shadow: 1px 1px 5px #000000;
   //-webkit-box-shadow: 1px 1px 5px #000000;
  // box-shadow: 1px 1px 5px #000000;

}
.student-view{
  	background-color: #FFF;
  	@include animation(valo-animate-in-slide-down 0.7s 0s backwards);
  }
  
}
