 @mixin main-view{

  // Insert your own theme rules here
  
  	$login-info-width: 250px !default;
	$login-info-opacity: 0.7 !default;
	$login-background-color: $editor-background-color !default;
	
  .label-title{
  	color: white;//valo-font-color($v-selection-color, 0.9);
      @include animation(valo-animate-in-fade 1s 1s backwards);

      h1 {
        color: inherit;
      }
  	
  }

  .login-information {
      display: inline-block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: $login-info-width;
      height: 100%;
      background: $v-selection-color; // For IE8
      background-color: #673ab7;//rgba($v-selection-color, $login-info-opacity);
      padding: $v-layout-margin;
      color: white;//valo-font-color($v-selection-color, 0.9);
      @include animation(valo-animate-in-slide-right 700ms 700ms backwards);
      //@include animation(valo-animate-in-fade 1s 1s backwards);

      h1 {
        color: inherit;
      }
    }
   
  .profile{
   	  display: inline-block;
      position: absolute;
      top: 5px;
      left: 0px;
      width: $login-info-width;
      background: $v-selection-color; // For IE8
      background-color: #FFFFFF;
      color: #673ab7;
      font: bold;
   }
  
  .menu-area{
//   	  display: inline-block;
// 	      position: absolute;
// 	      top: 0px;
// 	      left: 0px;
// // 	      width: $login-info-width;
// 	      height: 100%;
// 	      background: $v-selection-color; // For IE8
// 	      background-color: #673ab7;//rgba($v-selection-color, $login-info-opacity);
// 	      padding: $v-layout-margin;
// 	      color: white;//valo-font-color($v-selection-color, 0.9);
	      @include animation(valo-animate-in-slide-right 700ms 700ms backwards);
	      //@include animation(valo-animate-in-fade 1s 1s backwards);
	
	      h1 {
	        color: inherit;
	      }
  }
 
 	.content-area{
 		left: $login-info-width;
 		top: 20px;
 	}
  
    .menu-slide-down{
  		top: 100px;
  		left: 0px;
  		//display: inline-block;
      	//position: absolute;
      	width: $login-info-width;
      	background: $v-selection-color; // For IE8
      	background-color: #535F72;//#673ab7;//rgba($v-selection-color, $login-info-opacity);
  		@include animation(valo-animate-in-slide-down 0.7s 0s backwards);
    }
    .menu-slide-up{
  		top: 100px;
  		left: 0px;
  		//display: inline-block;
      	//position: absolute;
      	width: $login-info-width;
      	background: $v-selection-color; // For IE8
      	background-color: #535F72;//#673ab7;//rgba($v-selection-color, $login-info-opacity);
  		@include animation(valo-animate-in-slide-up 0.7s 0s backwards);
    }
   .accordion{
   		top: 140px;
   		left: 0px;
   		background-color: #444B57;//#535F72;
   		color: #FFF;
   		display: block;
   		position: absolute;
   		text-align: left;
   		padding-left: 30px; 
   }
  .accord-select{
   		padding: 0px, 0px, 0px, 5px;
   		color: #0B71C8;
   		text-align: center;
   }
  .sub-menu{
  	background-color: #535F72;//#4F2C95;
  	color: #FFF;
  	//width: 250px;
  	//left:10px;
  	text-align: center;
  	
  }
 .sub-menu:hover {
    background-color: #31CDC6; //#4CAF50; --->/* Green */
    color: white;
}
 .sub-menu:focus {
    background: #31CDC6; //#4CAF50; --->/* Green */
//     color: white;
}
 
}
